<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.signingoogle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoto"
        android:label="MoCo"
        android:roundIcon="@drawable/logoto"
        android:supportsRtl="true"
        android:theme="@style/Theme.SignInGoogle"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".NewFeed"
            android:exported="false" />
        <activity android:name=".News.BangTin"></activity>
        <activity android:name=".ListCongThuc" />
        <activity
            android:name=".OnboardingScreen.Walkthrough"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"></activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".GithubAuthActivity" />
        <activity android:name=".FacebookAuthActivity" />
        <activity android:name=".GoogleSignInActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ListPho.ChuyenActivity"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>